{% extends 'base.html' %}


{% block content %}

<h2 class="az-content-title mg-b-5 mg-b-lg-8">
    {{title}}
</h2>


<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.media }}

    <div>{{ form.non_field_errors }}</div>

    {% for hidden in form.hidden_fields %}
        {{hidden}}
    {% endfor %}

    <div class="row">
        {% for field in form.visible_fields %}
            <div class="form-group col-sm-6">
                {{field.label_tag}}
                {{field}}
                <small>{{field.help_text}}</small>
                <ul class="parsley-errors-list filled" id="parsley-id-5">
                    {% for error in field.errors %}
                        <li class="parsley-required">{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="submit-btn btn btn-primary">Save</button>

</form>


{% endblock content %}
