{% extends 'base.html' %}

{% block pagetitle %}{{title}}{% endblock pagetitle %}

{% block content %}

<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.media }}

    <div>{{ form.non_field_errors }}</div>

    {% for hidden in form.hidden_fields %}
        {{hidden}}
    {% endfor %}

    <div class="row">
        {% for field in form.visible_fields %}
            <div class="form-group {% if field.name == 'description' %}col-sm-12 {% else %}col-sm-6{% endif %}">
                {{field.label_tag}}
                {{field}}
                <small>{{field.help_text}}</small>
                <ul class="parsley-errors-list filled" id="parsley-id-5">
                    {% for error in field.errors %}
                        <li class="parsley-required">{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="submit-btn btn btn-primary">Save</button>
    <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>

</form>


{% endblock content %}
