{% extends 'base.html' %}


{% block pagetitle %}
<h5>{{object.title}}</h5>
{% if request.user.is_staff %}
<div class="btn-group">
    <a href="{% url 'exam-update' object.id %}" class="btn btn-light">
        <i class="fa fa-edit me-2"></i>Update
    </a>
    <a href="{% url 'exam-delete' object.id %}" class="btn btn-light text-danger">
        <i class="fa fa-trash me-2"></i>Delete
    </a>
</div>
{% endif %}
{% endblock pagetitle %}


{% block content %}
<div >
    <div class="row g-4">
        <div class="col-md-4">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Subject</h6>
                <p class="h5">{{object.subject}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Class</h6>
                <p class="h5">{{object.class_group}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Duration</h6>
                <p class="h5">{{object.get_duration}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Author</h6>
                <p class="h5">{{object.author}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Category</h6>
                <p class="h5">{{object.get_exam_type_display}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Questions</h6>
                <p class="h5">{{object.question_count}}</p>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-light p-3 rounded">
                <h6 class="text-muted mb-2">Description</h6>
                <p>{{object.description | safe}}</p>
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        {% if request.user.is_staff %}
        <a href="{% url 'scores' object.id %}" class="btn btn-primary me-2">
            <i class="fa fa-chart-bar me-2"></i>Scores
        </a>
        {% endif %}
        <a href="{% url 'take' object.id %}" class="btn btn-success">
            <i class="fa fa-play me-2"></i>Take Exam
        </a>
    </div>
</div>


{% if request.user.is_staff %}
<div class="card shadow-sm border-0">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Exam Questions</h4>
        <div>
            <a href="{% url 'add-question' exam.id %}" class="btn btn-sm btn-primary me-2">
                <i class="fa fa-plus me-2"></i>Add Question
            </a>
            <a href="{% url 'add-question-from-bank' exam.id %}" class="btn btn-sm btn-outline-primary">
                <i class="fa fa-copy me-2"></i>From Question Bank
            </a>
        </div>
    </div>

    <div class="card-body p-0">
        {% if exam.questions.all %}
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <tbody>
                    {% for question in exam.questions.all %}
                    <tr>
                        <td>
                            <div class="text-truncate" style="max-width: 600px;">
                                {{question.question | safe}}
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="btn-group btn-group-sm">
                                <a href="{% url 'examquestion-update' question.id exam.id %}" class="btn btn-outline-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'remove-question' question.id exam.id %}" class="btn btn-outline-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="text-center py-4 text-muted">
            <i class="fa fa-file-alt fa-3x mb-3"></i>
            <p class="mb-3">No questions added to this exam yet</p>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
</div>
{% endblock content %}
